/*
 * Copyright (c) 2021 Sjoerd Thijsse
 *
 * SPDX-License-Identifier: MIT
 */

/ {
      sf: shift_mods { \
              compatible = "zmk,behavior-hold-tap"; \
              label = "SHIFT_MODS"; \
              #binding-cells = <2>; \
              tapping-term-ms = <100>; \
              quick_tap_ms = <0>; \
              flavor = "tap-preferred"; \
              bindings = <&kp>, <&kp>; \
      };
};

// vim: filetype=dts

